[Desktop Entry]
Version=1.0
Type=Application
Name=ScalPDF Launcher
Comment=Secure PDF Viewer and Editor Launcher
Exec=/Users/yashrajsinghyadav/Documents/Scal PDF/Installers GUI/ScalPDF
Icon=application-pdf
Terminal=false
Categories=Office;Graphics;Viewer;
StartupNotify=true
